# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files you want to always be normalized
*.json text
*.yml text
*.yaml text
*.sh text eol=lf
*.md text
*.properties text

# Declare files that will always have LF line endings on checkout
.devcontainer/setup.sh text eol=lf executable